.project
.settings
*.csproj
*.csproj.user
*.build
*.mdb
*.mdp
*.mds
*.pidb
*.dll.build
*/*/bin
*/*/*/bin
*/*/*/*/bin
*/*/*/*/*/bin
*/*/*/*/*/*/bin
*/*/*/*/*/*/*/bin
bin/Debug/*.dll
bin/*.dll.mdb
bin/addin-db-*
bin/*.dll
bin/ScriptEngines/*.dll
bin/*.maddin
Examples/*.dll
bin/*.exe
OpenSim.build
OpenSim.sln
Prebuild/Prebuild.build
Prebuild/Prebuild.sln
bin/OpenSim.log
bin/Physics*
bin/Terrain*
bin/estate_settings.xml
cov/*
OpenSim/OpenSim.userprefs
OpenSim/OpenSim.usertasks
*~
TODO
