*.lsl binary
*.dat binary
*.bmp binary
*.BMP binary
*.gif binary
*.ico binary
*.j2c binary
*.j2k binary
*.jpg binary
*.png binary
*.tga binary
*.tif binary
*.db2 binary
*.llm binary
*.nib binary
*.rtf binary
*.ttf binary
*.ogg binary
*.dll binary
*.exe binary
