<?
// this file tells all the OGS services where to find the MySQL database
// if multiple OGS services are running on one machine, it is assumed that they all use the same MySQL server/database

$dbhost="YOURSERVERHERE";
$dbuser="opengridservice";
$dbname="OGS";
$dbpasswd="supersecret";
?>
